/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6.1.2017, 18:33:17
    Author     : hyttijan
*/

body{
    background-color: black;
}

h1,p{
    color: white;
}